.signup-btn {
  transition: all 0.3s;
}

.signup-btn:hover {
  background-color: #005299 !important;
}

.nav-link {
  font-size: large;
}

.nav-link:hover {
  color: var(--dark-color-a);
  text-decoration: overline dashed;
}

.profile-img {
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px rgb(5, 20, 71) solid;
  margin-left: 0.7rem;
}
