/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
  border: 3px solid #112a46;
  border-radius: 9px;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
  border: none;
  background-color: #ededed00;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #112a46;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
  /* border: 1px solid #112a46; */
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

input {
  border-radius: 6px;
  border: 1px solid #112a46;
}
input:focus {
  outline: 3px solid #114179;
}
