.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1.2rem 8rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
.alert--success {
  color: #0c914a;
  background-color: #7adda8c9;
  border: 1px solid #7adda8;
}
.alert--error {
  color: #af1614;
  background-color: #d88584cb;
  border: 1px solid #d88584;
}
